--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
pydantic
numpy==1.26.4
joblib==1.5.3
scikit-learn==1.6.1
tensorflow-cpu==2.15.0
torch==2.2.2+cpu
pillow
requests
python-multipart
firebase-admin
google-cloud-firestore
